* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

html {
	background: url(../images/work.jpg);
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.button {
	background-color: red;
	border: 2px solid white;
	padding: 1%;
	width: auto;
	/* min-width: 90px;
	min-height: 40px; */
	text-align: center;
	display: inline-block;
	font-size: 10px;
	border-radius: 25px;
	cursor: pointer;
	font-family: "Sarala", sans-serif;
	/* margin-left: 5px; */
}

.bottom {
	position: fixed;
	bottom: 1%;
	background-color: black;
	text-align: right;
	color: white;
	font-size: 10px;
	right: 1%;
	font-family: "Sarala", sans-serif;
}

.colorWhite {
	color: white;
}

.colorBlue {
	color: lightblue;
}

.colorRed {
	color: springGreen;
	text-align: center;
	font-size: 70px;
}

.header {
	color: black;
	font-size: 30px;
	font-family: "Merienda", cursive;
	/* font-weight: bold; */
	text-align: center;
}
