* {
	margin: 0;
	padding: 0;
}
body {
	background: linear-gradient(45deg, #778899 5%, #fffff0 100%);
	background-size: cover;
	font-size: 14px;
}
form {
	max-width: 550px;
	width: 90%;
	background: white;
	margin: 17vh auto 0 auto;
	padding: 40px;
	border-radius: 3px;
	box-sizing: border-box;
}
h1 {
	margin: 0;
	text-align: center;
}
::placeholder {
	color: lightsalmon;
}
.whatsapp {
	width: 55px;
	margin-bottom: 10px;
	margin-right: 10px;
}
input,
textarea {
	width: 100%;
	padding: 10px;
	box-sizing: border-box;
	outline: none;
	resize: vertical;
	border: none;
	border-bottom: 1px solid #d3d3d3;
}
.container {
	display: flex;
	justify-content: center;
}

.bottom {
	position: absolute;
	bottom: 5px;
	background-color: black;
	text-align: right;
	color: lightblue;
	font-size: 30;
	padding-right: 15px;
	right: 0px;
	font-family: "Sarala", sans-serif;
}
.colorWhite {
	color: white;
}

/* ************************************ */
/* *********** DO NOT TOUCH!!! ********** */

.glow-on-hover {
	width: 220px;
	height: 50px;
	border: none;
	outline: none;
	color: hotpink;
	background: #111;
	cursor: pointer;
	position: relative;
	z-index: 0;
	border-radius: 10px;
}

.glow-on-hover:before {
	content: "";
	background: linear-gradient(
		45deg,
		#ff0000,
		#ff7300,
		#fffb00,
		#48ff00,
		#00ffd5,
		#002bff,
		#7a00ff,
		#ff00c8,
		#ff0000
	);
	position: absolute;
	top: -2px;
	left: -2px;
	background-size: 400%;
	z-index: -1;
	filter: blur(5px);
	width: calc(100% + 4px);
	height: calc(100% + 4px);
	animation: glowing 20s linear infinite;
	opacity: 0;
	transition: opacity 0.3s ease-in-out;
	border-radius: 10px;
}

.glow-on-hover:active {
	color: #000;
}

.glow-on-hover:active:after {
	background: transparent;
}

.glow-on-hover:hover:before {
	opacity: 1;
}

.glow-on-hover:after {
	z-index: -1;
	content: "";
	position: absolute;
	width: 100%;
	height: 100%;
	background: #111;
	left: 0;
	top: 0;
	border-radius: 10px;
}

@keyframes glowing {
	0% {
		background-position: 0 0;
	}
	50% {
		background-position: 400% 0;
	}
	100% {
		background-position: 0 0;
	}
}
