* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    
}

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    color: white;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-image:  url("../images/purple.jpg");
    background-size: 100%;
}

div.gallery {
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    /* width: 1fr 1fr; */
    /* width: 1fr 1fr; */
}

div.gallery:hover {
    border: 1px solid #777;
}

div.gallery img {
    width: 100%;
    /* height: 100%; */
}

div.description {
    padding: 15px;
    text-align: center;
}

.rotate90{
    -webkit-transform:rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
}

.justify-center {
    justify-content: center;
}
.text-align {
    text-align: center;
}
.flex {
    display:flex;
}

