* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    
}

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    color: white;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-image:  url("../images/bluelight.jpg");
    background-size: 100%;
}

div.gallery {
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    /* width: 1fr 1fr; */
    width: 1fr 1fr;
}

div.gallery:hover {
    border: 1px solid #777;
}

div.gallery img {
    width: 100%;
    height: auto;
}

div.description {
    padding: 15px;
    text-align: center;
}



.justify-center {
    justify-content: center;
}
.text-align {
    text-align: center;
}
.flex {
    display:flex;
}

