* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	/* color: #add8e6; */
}

html,
    body {
        position: relative;
        height: 100%;
    }

body {
	background-size: cover;
	font-size: 10px;
	background-attachment: fixed;
	background-image: url("../images/watermelon1.jpg");
	background-size: cover;
	margin: 0;
	padding: 0;
}

.swiper {
	width: 100%;
	padding-top: 150px;
	padding-bottom: 50px;
}

.swiper-slide {
	background-position: center;
	background-size: cover;
	width: 500px;
	height: 500px;
}

.swiper-slide img {
	display: block;
	width: 100%;
	border: solid white 3px;
}

.button {
	background-color: black;
	border: 2px solid white;
	padding: 1%;
	width: 100px;
	min-width: 90px;
	min-height: 40px;
	text-align: center;
	text-decoration: none;
	display: block;
	font-size: 20px;
	border-radius: 25px;
	cursor: pointer;
}

.bottom {
	position: fixed;
	bottom: 1%;
	background-color: black;
	text-align: right;
	color: white;
	font-size: 10px;
	right: 1%;
	font-family: "Sarala", sans-serif;
}

.swiper-pagination-bullet.swiper-pagination-bullet-active {
	/* border-radius: 0; */
	background-color: yellow;
	border: 3px solid black;
	padding: 5px 9px 9px 5px;
}

.swiper-pagination-bullet.swiper-pagination-bullet {
	padding: 4px 7px 7px 4px;
	opacity: 1;
}

.swiper-pagination {
	padding-bottom: 5%;
	font-size: 2rem;
}

.colorAlt {
	color: black;
	font-size: 50px;
	text-align: center;
}
.colorWhite {
    color: white;
}
.colorBlue {
    color: lightblue;
}
.colorRed {
    color: darkblue;
}
.fontLarge {
	font-size: 80px;
}